@font-face {
  font-family: "yekanBakh";
  src: url(font/YekanBakh-Regular.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "yekanBakh";
  src: url(font/YekanBakh-Bold.ttf);
  font-weight: 600;
}

:root {
  --main-color--: #1c7ed6;
  --grey-color--: #37b24d;
  --white-space-background--: #fafafa;
  --border-color--: #adb5bd;
  --text-color--: #212529;
  --header-nav-red-border--: #e03131;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "yekanBakh";
  height: 2000px;
  box-sizing: border-box;
  background-color: var(--white-space-background--);
}

header {
  background-color: var(--white-space-background--);
  border-bottom: 2px solid var(--border-color--);
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  font-size: 14px;
  height: 106px;
  transition: height 0.2s;
}
.first-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin: 10px 40px;
  margin-bottom: 0;
  z-index: 1;
  background-color: var(--white-space-background--);
}

.logo-img {
  height: 65px;
  width: 120px;
}

.account-btn {
  background-color: var(--grey-color--);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.header_account_icon {
  width: 22px;
  height: 22px;
}
/* .account-sentence {
} */
.account-btn-div {
  font-size: 12px;
  font-family: "yekanBakh";
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  width: 125px;
  height: 28px;
  padding: 5px;
}

.header-leftSide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 200px;
}

.buy-basket {
  stroke: var(--text-color--);
}

.header-buy-icon-container {
  background-color: var(--grey-color--);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.header-leftSide-separator {
  color: #adb5bd6d;
}

.header-nav {
  margin: 0 40px;
  transition: transform 0.25s;
}

.header-section2-nav-ul {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: end;
  gap: 0px;
  list-style: none;
  z-index: 0;
  padding-top: 5px;
}

.header-section2-nav-ul li:nth-child(even) {
  color: var(--border-color--);
  cursor: default;
  padding: 0 10px;
}

.header-section2-nav-ul li:nth-child(odd) {
  cursor: pointer;
  color: var(--text-color--);
  padding: 0 10px;
}

.header-nav-blueLine {
  background-color: var(--main-color--);
  height: 2.5px;
  margin-bottom: 3px;
  opacity: 0;
  transition: transform 0.5s, width 0.5s, opacity 0.4s;
}

.hero_section {
  background-color: #212529;
  margin-top: 105px;
  z-index: -1;
  height: 610px;
  position: relative;
  z-index: 0;
}
.hero-img-box {
  height: 610px;
  position: relative;
}
.hero-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
}

.change-hero-pic-button {
  position: absolute;
  bottom: 10%;
  right: 5%;
  display: flex;
  gap: 10px;
}

.hero-btn {
  font-size: 30px;
  color: var(--text-color--);
  background-color: #adb5bd;
  opacity: 0.3;
  padding: 10px;
  border: none;
  border-radius: 5px;
  gap: 20px;
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  transition: opacity 0.25s;
}

.hero-btn:hover {
  opacity: 0.5;
}

.point-box {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}
.point {
  background-color: #adb5bd;
  width: 6px;
  height: 6px;
  border-radius: 50px;
  z-index: 1;
  transition: width 0.25s;
}

.display {
  opacity: 1;
}

.change-width {
  width: 150px;
}

.go-up {
  transform: translateY(-100%);
}

.change-height {
  height: 75px;
}
